@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("../images/chuttersnap-176806.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.wrapper {
	width: 95%;
	padding: 1.5em;
	margin: 0 auto;
}

p {
	font-size: 0.9em;
	font-weight: 100;
	margin-bottom: 1.5em;
}

h1 {
	text-transform: uppercase;
	font-weight: 200;
	font-size: 1.7em;
	color: #C47786;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: .3em;
	margin-top: .2em;
}

h2 {
	font-weight: 800;
	font-size: 0.9em;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	margin-bottom: 1em;
}

h3 {
	text-align: left;
	font-weight: normal;
	margin-bottom: .8em;
	font-size: .7em;
	font-style: italic;
}

h4 {
	font-size: 1.1em;
	font-weight: 100;
	color: white;
}

span {
	color: black;
}

ul {
	text-align: left;
	padding-left: 20px;
	margin: 1.5em;
	font-size: 14px;
	list-style-type: square;
	line-height: 1.2em;
}

a {
	text-decoration: none;
	color: #C47786;
}

nav {
	background: #C47786;
	display: block;
	float: right;
	padding: 1.2em;
	margin-bottom: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 1.3em;
	padding: 1em;
}

a:hover {
	color:	#C0C0C0;
}

.circular--portrait {
  position: relative;
  width: 10em;
  height: 10em;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

header {
	float: left;
	width: 30%;
	margin: 0 .6em 0;
	padding: 1.5em;
	background-color: rgba(0,0,0,0.8)
}

#education1 {
	float: left;
	width: 32.7%;
	margin: 0 .3em 0;
	padding: 1.2em;
	background-color: rgba(255,255,255,0.8)
}

#education2 {
	float: left;
	width: 32.7%;
	margin: 0 .3em .6em .6em;
	padding: 1.2em;
	background-color: rgba(255,255,255,0.8)
}

#left {  
    float: left;
    width: 48%;
    padding: 1.2em;
    margin: .6em 0 .6em .6em;
    background-color: rgba(255,255,255,0.8);   
}

#right {
    padding: 1.2em;
    float: right;   
    width: 48%;
    margin: .6em .6em .6em 0;
    background-color: rgba(255,255,255,0.8);
}

#publications {
	float: none;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	padding: 1.2em;
	margin: .6em;
}

#skills {
	width: 100%;
	margin: .6em;
	padding: 1.2em;
	background-color: rgba(255,255,255,0.8);
}

#column1 {
	float: left;
	padding: 1.2em;
	width: 45%;
}

#column1 {
	float: right;
	padding: 1.2em;
	width: 45%;

}

footer {
	background-color: black;
}

footer h1 {
	color: white;
	text-align: center;
	padding: 20px;
}

span {
	text-decoration: none;
}

@media screen and (max-width: 1200px) {
	.wrapper {
		width: 95%;
	}
	header {
		float: none;
		width: 100%;
		margin: 0 0.6em 0.6em;
	}
	#education1, #education2 {
		width: 49%;
		margin: 0.2em;
	}
	#right, #left {
		height: auto;
	}
	nav {
		float: none;
	}
	.circular--portrait {
		float: left;
	}
}

@media screen and (max-width: 887px) {
	nav {
		padding: 1em;
		float: none;
	}
	body {
		font-size: 14px;
	}
	header, #left, #right, #education1, #education2, #full, #skills {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.wrapper {
		width: 95%;
	}
}

@media screen and (max-width: 682px) {
	nav {
		visibility: hidden;
	}
	#blankspace {
		visibility: none;
	}
	.circular--portrait {
		float: none;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 14px;
		padding: 0.5em;
	}
	.wrapper {
		width: 98%;
		padding: 0.2em;
	}

}
